@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--foreground));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a.link {
  @apply underline text-blue-600 hover:text-blue-800 visited:text-purple-600
}